<div>
  <div class="refresh">
    <p><strong>Last Refereshed On:2021-11-27 06:00:13</strong>></p>
    <button>Download Data Dictionary</button>
  </div>
  <div class="form-group">
    <select
      ngModel
      name="onQfcTypeSelected"
      id="onQfcTypeSelected"
      class="form-control"
      #mySelect
      (change)="onQfcTypeSelected(mySelect.value)"
    >
      <option *ngFor="let qfcType of qfcTypes" [value]="qfcType.name">
        {{ qfcType.name }}
      </option>
    </select>
  </div>
  <ag-grid-angular
    style="width: 1500px; height: 400px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="OnGridReady($event)"
    [gridOptions]="gridOptions"
  >
  </ag-grid-angular>
  <ag-grid-angular
    style="width: 1500; height: 300"
    class="ag-theme-alpine"
    [rowData]="row"
    [columnDefs]="column"
  >
  </ag-grid-angular>
</div>
